<div class='container'>
    <!-- NAVIGATION -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="#">AngularUI Router</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a ui-sref="home" routerLink="home">Home</a></li>
            <li><a ui-sref="about" routerLink="about">About</a></li>
            <li><a ui-sref="sink" routerLink="ui/home">ng6 page</a></li>
        </ul>
    </nav>

    <!-- MAIN CONTENT -->
    <div class="container">

        <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
        <div ui-view></div>
        <router-outlet></router-outlet>
    </div>
</div>

